#color-blue {
  width: 200px;
  height: 200px;
  background-color: blue;
}
#color-red {
  width: 200px;
  height: 200px;
  background-color: red;
}

#color-green {
  width: 200px;
  height: 200px;
  background-color: green;
}
#color-yellow {
  width: 200px;
  height: 200px;
  background-color: yellow;
}
